@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --deckgo-highlight-code-font-size : 14px;
    --deckgo-highlight-code-scroll:hidden;
}

.array-item{
    transition: 0.5s transform ease-in-out;
}
.scaled-1-2x{
    transform: scale(1.2);
}